@import "./style-main-hero.css";
@import "./style-main-portfolio.css";
@import "./style-main-about.css";
@import "./style-main-clients.css";

.main-spacer {
  margin-top: 10px;
  height: 80px;
  background-color: transparent;
}

.main section .section-inner {
  max-width: 1300px;
  padding: 0 40px;
  margin: 0 auto;
}

.main section.dark-bg, .main section.light-bg {
  padding: 60px 0;
}

.main section.dark-bg {
  background-color: var(--dark-bg);
}

.large-text {
  color: var(--large-text-color);
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.5;
}

.accent-span {
  color: var(--accent);
}

