.header {
  position: fixed;
  left: 0%;
  top: 2vw;
  right: 0%;
  width: 100%;
  padding: 0 2vw;
  background-color: transparent;
}

.logo-container {
  background-color: var(--accent);
  color: var(--secondary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: max(80px, 4vw);
  overflow: hidden;
  min-height: max(36px, 3vw);
  transition: width 200ms ease;
}

.logo-container img {
  height: clamp(30px, 2.4vw, 7rem);
  padding: 10px;
  width: auto;
}

.logo-container h1 {
  font-size: clamp(1rem, 1.2vw, 5rem);
  line-height: 1;
  transition: opacity 200ms ease;
  white-space: nowrap;
  margin-right: 20px;
}