.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary);
  background-color: var(--accent);
  padding: 20px 40px;
}

.footer p {
  text-align: right;
}

.footer span {
  display: block;
  font-family: monospace;
  font-size: 1em;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  font-size: 1.9em;
}

.social-icons a {
  text-decoration: none;
  color: var(--secondary);
}

.social-icons a:hover {
  color: #fff;
}