@import "./typography.css";
@import "./style-header.css";
@import "./style-navigation.css";
@import "./style-main.css";
@import "./style-footer.css";
@import "./style-modal.css";

:root {
  --accent: #f2a70c;
  --secondary: #021b29;
  --heading: #fff;
  --body-text-color: hsla(0, 0%, 100%, 0.5);
  --dark-bg: #01141f;
  --large-text: hsla(0, 0%, 100%, 0.5);
  --modal-background: rgba(0,0,0,0.85);
  --subtle-gray: #bbb;
  scroll-behavior: smooth;
}

* {
  color: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--secondary);
  color: var(--body-text-color);
  font-family: 'Inter', sans-serif;
}

section {
  scroll-margin-top: 50px;
}

figure, dialog {
  margin: 0;
  padding: 0;
  border: 0;
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.4s ease-in-out 0.1s;
  transition-property: transform, opacity;
}

.animated {
  opacity: 1;
  transform: translateY(0);
}

