.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 40px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: transparent;
}

.logo-container {
  background-color: var(--accent);
  color: var(--secondary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  text-decoration: none;
}

.logo-container img {
  padding: 12px;
}

.logo-container .logo-text {
  font-size: 1.1em;
  font-weight: 700;
  overflow: hidden;
  line-height: 1;
  transition: all 250ms ease;
  transition-property: width, opacity;
  white-space: nowrap;
  padding-right: 10px;
}

.logo-text span{
  display: block;
  font-size: 0.9em;
  font-weight: 300;
  font-family: monospace;
  letter-spacing: 2.2px;
  line-height: 1;
}


/* MOBILE */
@media (max-width: 529px) {
  .header {
    top: 20px;
    padding: 0 20px;
  }
}

/* TABLET */
@media (min-width: 530px) and (max-width: 1000px) {
  .header {
    top: 30px;
    padding: 0 30px;
  }
}