@import "./typography.css";
@import "./style-header.css";
@import "./style-navigation.css";
@import "./style-main.css";
@import "./style-footer.css";

:root {
  --accent: #f2a70c;
  --secondary: #021b29;
  --heading: #fff;
  --body-text-color: hsla(0, 0%, 100%, 0.5);
  --dark-bg: #01141f;
  --large-text: hsla(0, 0%, 100%, 0.5);
  scroll-behavior: smooth;
}

* {
  color: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--secondary);
  color: var(--body-text-color);
  font-family: 'Inter', sans-serif;
}

section {
  scroll-margin-top: 50px;
}