@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Medium.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Bold.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-ExtraBold.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Black.ttf) format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: var(--heading);
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.7em;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera-iris:before {
  content: "\e901";
}
.icon-logo:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-chevron-down:before {
  content: "\e906";
}
.icon-chevron-up:before {
  content: "\e90c";
}
.icon-circle-small:before {
  content: "\e907";
}
.icon-eye-outline:before {
  content: "\e90d";
}
.icon-loupe:before {
  content: "\e90e";
}
.icon-linkedin-1:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-pinterest:before {
  content: "\e90b";
}



/* MOBILE */
@media (max-width: 529px) {
  h2, h3, h4, h5, h6 {
    margin-top: 20px;
  }
  h2 {
    font-size: 2.5em;
  }  
}

/* TABLET */
@media (min-width: 530px) and (max-width: 1000px) {
  h2, h3, h4, h5, h6 {
    margin-top: 30px;
  }
  h2 {
    font-size: 2.7em;
  }
}